<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Attendance Hub</title>
<link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
</head>
<body>

    <div align="center" class="container my-2" style="background-color: #34db34; color: #fff; padding: 20px;">
    
        <h1> Attendance Hub</h1>
    
    </div> 

    <div class="container">
       
        <h2> Update Event</h2>

        <img th:src="@{/spongebob.webp}" alt="spongebob.webp" width="400" height="400">

        <form action="#" th:action="@{/saveEvent}" th:object ="${event}" method="POST">
            
            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />
            
            <input type="text" th:field="*{eventName}" class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{eventDate}" class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{eventDescription}" class="form-control mb-4 col-4">

            <input type="text" th:field="*{eventcode}" class="form-control mb-4 col-4">
            
            <button type="submit" class="btn btn-info col-2"> Update Event</button>

        </form>
        <hr>
        <a th:href = @{/showAllEvents}> Back to Event List</a>
    </div>

    <div align="center" class="container my-2" style="background-color: #34db34; color: #fff; padding: 20px;">

    </div> 

</body>
</html>